<ion-content>
  <div id="chat">
    <h2>RelixBot</h2>
    <ion-card id="card">
      <div class="messages">
        <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'user', 'chatbot-message': message.sender === 'chatbot'}">
          <div>
            <p>{{ message.text }}</p>
          </div>
        </div>
      </div>
      <ion-item id="writter">
        <ion-input class="mensaje-usuario"  placeholder="Mensaje" fill="solid"></ion-input>
        <ion-button class="custom-button-1" (click)="sendMessage()">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>