<ion-content>
  <ion-button size="large" id="button" (click)="returnToHome()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <div id="chat">
    <h2>StressLess</h2>

    <ion-card id="card">
      <div class="messages">
        <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'user', 'chatbot-message': message.sender === 'chatbot'}">
          <div>
            <p>{{ message.text }}</p>
          </div>
        </div>
      </div>
  
      <ion-item id="writter">
        <ion-input  placeholder="Mensaje" fill="solid"></ion-input>
        <ion-button expand="full" class="answer-button" (click)="sendMessage()">
          Contestar
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>