<ion-content class="ion-padding" fullscreen>
  <div class="container">
    <div class="question-box">
      <div *ngFor="let question of questions">
        <p>{{ question.id }}. {{ question.text }}</p>
        <ion-radio-group [(ngModel)]="answers[question.id]">
          <ion-item *ngFor="let option of question.options" lines="none">
            <ion-label>{{ option }}</ion-label>
            <ion-radio slot="start" [value]="option"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <ion-button expand="block" class="custom-button-1" (click)="goToResults()">Siguiente</ion-button>
    </div>
  </div>
</ion-content>