<ion-content>
  <ion-card class="card" *ngFor="let reto of retos; let i = index" (click)="sendData(reto)" 
    [ngStyle]="{'background': 'linear-gradient(135deg, var({{getColor(i, 0)}}), var({{getColor(i, 1)}}))'}">
    <div [class]="reto.number % 2 != 0 ? 'rightImage' : 'leftImage'">
      <img class="image" [src]="reto.image" alt="image not found">
    </div>
    <div [class]="reto.number % 2 == 0 ? 'leftInformation' : 'rightInformation'">
      <ion-card-header>
        <ion-card-title class="titulo"><h3>Reto {{reto.number}} | {{reto.name}}</h3></ion-card-title>
      </ion-card-header>
      <ion-card-content class="descripcion">
        <p>{{reto.description}}</p>
      </ion-card-content>
    </div>
  </ion-card>

  <div *ngIf="elementoVisible" id="cuadro">
    <ion-text>
      <h3>{{descripcion}}</h3>
    </ion-text>
  </div>
</ion-content>
