<ion-content>
  <div class="container">
    <div class="contenido">
      <div class="imagen-capibara">
        <img src="assets/capi.png" alt="Resultados">
      </div>
      <h2 class="titulo">Resultados</h2>
      <p class="puntuacion">Puntuación:</p>
      <p class="nivel-estres">Tu nivel de estrés es <span>25</span></p>
      <p class="texto-info">Texto informativo sobre el resultado o consejo</p>
      <ion-button expand="block" class="custom-button-1" type="submit" id="btn" name="btn">
        Continuar
      </ion-button>
    </div>
  </div>
</ion-content>
