.background-gradient {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  ion-content {
    --background: linear-gradient(180deg, #e4dbff 0%, #aea3af 100%);
  }
  
  .main-container {
    width: 80vw;
    max-width: 55%;
    height: 60vh;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #3D3D3D;
    margin-bottom: 5px;
  }
  .left{
    padding: 40px;
  }
  
  .description {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    color: #3D3D3D;
    max-width: 424px;
  }
  
  .side-image img {
    width: 100%;
    height: 100%;
    border-radius: 0px 30px 30px 0px;
    margin: 0;
  }
  .register-btn {
    margin: 20px 30px;
    --background: linear-gradient(180deg, #6161FF 0%, #CE96FF 100%);
    --border-radius: 15px;
  }
  
  @media screen and (max-width: 568px) {
    .main-container {
      flex-direction: column;
      height: 80%;
      max-width: 90%;
    }
    .left{
      padding: 20px 40px;
    }
    .side-image img {
        width: 100%;
        height: 80%;
        border-radius: 0px 0px 30px 30px;
        object-fit: cover;
      }

  }
