<ion-content>
  <div class="form-container">
    <div class="header-container">
      <h2>Bienvenido</h2>
      <h1>MOJI ORI</h1>
    </div>
  <img src="assets/svg/moji.svg" alt="SVG de Moji Ori" class="svg-container " />

  <div class="form">
    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="/home" name="loginForm" id="loginForm"> -->
      <form action="/home">
      <ion-item>
        <ion-input label="Teléfono celular" color="medium" label-placement="floating"  type="tel" formControlName="cuenta_Telefono" length="10" id="cuenta_Telefono" required></ion-input>

      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" color="medium" label-placement="floating" type="password" formControlName="cuenta_Contrasena" required>
          <!-- <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle> -->
        </ion-input>
      </ion-item>
  
      <ion-button expand="block" class="custom-button-1" type="submit" id="btn" name="btn">
      <!-- <ion-button expand="block" class="custom-button-1" href="/home"> -->
        INICIO DE SESIÓN
      </ion-button>
    </form>
    
    <a href="recuperacion" class="recuperar">¿Olvidé la contraseña?</a>
    
    <div class="line-group">
      <div class="line"></div>
      <p>O</p>
      <div class="line"></div>
    </div>
  
    <ion-button routerLink="/registro" expand="block" class="custom-button-2"
      >CREAR CUENTA</ion-button>
    </div>

  </div>
</ion-content>