/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

.custom-button-1 {
    --background: linear-gradient(180deg, #6161FF 0%, #CE96FF 100%);
    --color: #ffffff;
    --border-radius: 15px;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
    background: linear-gradient(180deg, #6161FF 0%, #CE96FF 100%);
  }
 /*  .custom-button-3 {
    --background: linear-gradient(180deg, #FF9B39 0%, #FDB300 100%);
    --color: #ffffff;
    --border-radius: 10px;
    border: none;
    font-size: large;
    height: 5rem;
    width: 8rem;
    padding: 3px;
    background-color: linear-gradient(180deg, #FF9B39 0%, #FDB300 100%);
  } */
  .custom-button-2 {
    --background: #ffffff;
    --color: #8686bc;
    --border-radius: 15px;
    border: 1px solid #7c7eb4;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  ion-content {
    --background: linear-gradient(180deg, #f7f6f6 40%, #ebebeb 95%);
  }
